! Base16 Brown
! Scheme: Alexandre Gavioli (https://github.com/Alexx2/)

#define base00 #342700
#define base01 #3b3300
#define base02 #6f6c3d
#define base03 #7c7949
#define base04 #959275
#define base05 #a3a082
#define base06 #ecead3
#define base07 #faf8e2
#define base08 #dd2835
#define base09 #dd7527
#define base0A #b4a900
#define base0B #63b100
#define base0C #00bbad
#define base0D #326be4
#define base0E #8f44fa
#define base0F #dd2895


URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/uzbl-tabbed
URxvt.matcher.button: 1
URxvt.perl-ext-common: ...,tabbedex,...
URxvt.tabbed.autohide: true
URxvt.tabbed.reopen-on-close: yes
!Tabbedex colors
URxvt.tabbar-fg: -2
URxvt.tabbar-bg: -1
URxvt.tab-fg:    0
URxvt.tab-bg:    1
URxvt.title-fg:  3
URxvt.title-bg:  7
!URxvt.intensitystyles: false
Xft*dpi:                96
Xft*antialias:          true
urxvt*depth: 32
*scrollBar: false
*font: -*-terminus-medium-r-*-*-16-*-*-*-*-*-*-*
!*boldfont: xft:Liberation Mono:pixelsize=13
!urxvt*transparent: true
!urxvt*tintColor: #b_15
!urxvt*shading: 15


*.foreground:   base05
*.background:   base00
*.cursorColor:  base05
*.color0:       base00
*.color1:       base08
*.color2:       base0B
*.color3:       base0A
*.color4:       base0D
*.color5:       base0E
*.color6:       base0C
*.color7:       base05
*.color8:       base03
*.color9:       base09
*.color10:      base01
*.color11:      base02
*.color12:      base04
*.color13:      base06
*.color14:      base0F
*.color15:      base07
