URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/uzbl-tabbed
URxvt.matcher.button: 1
URxvt.perl-ext-common: ...,tabbedex,...
URxvt.tabbed.autohide: true
URxvt.tabbed.reopen-on-close: yes
!Tabbedex colors
URxvt.tabbar-fg: -2
URxvt.tabbar-bg: -1
URxvt.tab-fg:    0
URxvt.tab-bg:    1
URxvt.title-fg:  3
URxvt.title-bg:  7
!URxvt.intensitystyles: false
Xft*dpi:                96
Xft*antialias:          true
urxvt*depth: 32
*scrollBar: false
*font: -*-terminus-medium-r-*-*-16-*-*-*-*-*-*-*
!*boldfont: xft:Liberation Mono:pixelsize=13
!urxvt*transparent: true
!urxvt*tintColor: #b_15
!urxvt*shading: 15


! Common

#define S_yellow        #a89000
#define S_orange        #c66d20
#define S_red           #db3333
#define S_magenta       #d95298
#define S_violet        #915ecd
#define S_gray          #828282
#define S_green         #14a51d
#define S_cyan          #329191
#define S_blue          #5d73c0

! Dark Blue

#define S_base03        #202439
#define S_base02        #2b2f44
#define S_base01        #656981
#define S_base00        #72768f
#define S_base0         #8c8fa9
#define S_base1         #999db7
#define S_base2         #e3e7ff
#define S_base3         #f2f5ff


! Light Blue

#define S_base03        #f2f5ff
#define S_base02        #e3e7ff
#define S_base01        #999db7
#define S_base00        #8c8fa9
#define S_base0         #72768f
#define S_base1         #656981
#define S_base2         #2b2f44
#define S_base3         #202439


*background:              S_base03
*foreground:              S_base0
*fading:                  15
*fadeColor:               S_base03
*cursorColor:             S_base1
*pointerColorBackground:  S_base01
*pointerColorForeground:  S_base1

*color0:                  S_base02
*color1:                  S_red
*color2:                  S_green
*color3:                  S_yellow
*color4:                  S_blue
*color5:                  S_magenta
*color6:                  S_cyan
*color7:                  S_base2
*color9:                  S_orange
*color8:                  S_base03
*color10:                 S_base01
*color11:                 S_base00
*color12:                 S_base0
*color13:                 S_violet
*color14:                 S_base1
*color15:                 S_base3

